body {
  font-family: 'ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 20px;
}

h3 {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.8rem;
}

p {
  color: grey;
}

a {
  text-decoration: none;
}

ul {
  padding: 0 !important;
}

#title {
  background-color: black;
  color: white;
  height: 100vh;
}

.container-fluid {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* Navbar */

.navbar {
  padding: 0.5rem 0.7rem;
}

.navbar-brand {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-item {
  padding: 2px 20px;
}

.nav-link {
  font-size: 1.3rem;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 12px;
}

/* Home */

.home {
  margin-top: 150px;
  text-align: center;
}

.intro-h5 {
  color: #ff4c68;
  font-family: 'Courier New', Courier, monospace;
}

.intro-p {
  margin-bottom: 10px;
  padding: 5px;
}

.intro-btn {
  margin-top: 40px;
}

.intro-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.icon-cls {
  display: inline-block;
  margin: 0px 20px;
}

.icon {
  color: white;
  margin: 2px;
}
.icon:hover {
  color: #ff4c68;
}

/* About */

#about {
  padding: 0% 10%;
  text-align: center;
}

.intro {
  text-align: center;
  margin-bottom: 8%;
}

.profile-pic {
  margin-top: 20px;
  padding: 0px;
  height: 138px;
  width: 138px;
  border-radius: 50%;
}

.hello {
  margin: 0;
  padding: 5px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  color: #ff4c68;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.profileAndSkills {
  text-align: left;
}

.profile {
  padding: 10px;
}

.skills {
  padding: 10px;
}

.profile-h3 {
  margin-bottom: 30px;
}

.skills-h3 {
  margin-bottom: 30px;
}

.about-btn {
  text-align: center;
  padding: 8%;
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .about-btn {
    flex-direction: column;
  }
}

.hire-btn {
  margin: 5px 15px;
}

.cv-btn {
  margin: 5px 15px;
}

.section-break {
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  border-color: gray;
  color: white;
  width: 30%;
  margin: auto;
}

/* Portfolio */

#portfolio {
  text-align: center;
  margin-top: 2%;
}

.computer-img {
  height: 150px;
}

.project-p {
  font-size: 1.4rem;
  margin: 2% 25%;
}

/* Projects Section */

#projects {
  padding: 2rem 0;
}

.project-button {
  margin: 2px;
}

#projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

#projects .item:nth-of-type(even) {
  flex-direction: row-reverse;
}

#projects .item .left {
  flex: 1;
}

#projects .item .right {
  margin-left: -150px;
  flex: 1;
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
}

#projects .item:nth-of-type(even) .right {
  margin-left: 0;
}

#projects .item:nth-of-type(even) .left {
  margin-left: -150px;
}

#projects .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #4705fc33;
  position: relative;
}

#projects .item .left .img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #b9a9e638;
}

#projects .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}

#projects .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}

#projects .item .right .project-title {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  margin-bottom: 1rem;
}

#projects .item .right .project-sub-title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#projects .item .right .project-desc {
  color: gray;
  margin-bottom: 3rem;
}

#projects .item .right .external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
}

#projects .item .right .external-link svg {
  width: 25px;
}

@media only screen and (max-width: 768px) {
  #projects .item {
    flex-direction: column;
  }
  #projects .item .left {
    width: 100%;
  }
  #projects .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -350px;
  }
  #projects .item:nth-of-type(even) {
    flex-direction: column;
  }
  #projects .item:nth-of-type(even) .left {
    margin-left: 0;
  }

  .skills-h3,
  .profile-h3 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #projects .item .right {
    margin-top: -400px;
  }

  #projects .item .right .buttons {
    flex-direction: column;
  }
  #projects .item .right .buttons a {
    width: 100%;
    text-align: center;
  }

  .project-p {
    font-size: 1.2rem;
    margin: 2% 10%;
  }
}

/* Contact */

#contact {
  text-align: center;
  color: white;
  background-color: black;
  padding: 2%;
}

.contact-form {
  margin: auto;
  padding: 3%;
  width: 60%;
}

/* footer */

.handle {
  padding: 3% 1%;
  color: white;
}

.handle:hover {
  color: #ff4c68;
}

#footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5% 7%;
}

@media only screen and (max-width: 450px) {
  .contact-form {
    width: 85%;
  }

  .handle {
    margin-left: 15px;
  }
}
