#title {
  background-color: black;
  color: white;
}

.container-fluid {
  padding: 0% 5% 2%;
}

body {
  font-family: 'ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 40px;
}

/* h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
} */

h3 {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.8rem;
}

p {
  color: grey;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-item {
  padding: 2px 20px;
}

.nav-link {
  font-size: 1.3rem;
}

/* Home */

.home {
  text-align: center;
  margin: 3%;
  padding: 0%;
}

.intro-h5 {
  margin-top: 200px;
  padding: 0;
  color: #ff4c68;
  font-family: 'Courier New', Courier, monospace;
}

.intro-h1 {
  margin: 0;
  padding: 0;
}

.intro-p {
  margin-bottom: 10px;
  padding: 5px;
}

.intro-btn {
  margin: 40px;
}

.intro-social {
  list-style: none;
  padding: 0;
  margin-top: 180px;
}

.icon-cls {
  display: inline-block;
  margin: 0px 40px;
}

.icon {
  color: white;
  margin-bottom: 1rem;
  margin: 10px;
}
.icon:hover {
  color: #ff4c68;
}

/* About */

#about {
  padding: 0% 10%;
}

.about-h1 {
  width: 30%;
  margin: auto;
  text-align: center;
}

.intro {
  text-align: center;
  margin-bottom: 8%;
}

.profile-pic {
  margin-top: 20px;
  padding: 0px;
}

.hello {
  margin: 0;
  padding: 5px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  color: #ff4c68;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.profileAndSkills {
  text-align: left;
}

.profile {
  padding: 10px;
}

.skills {
  padding: 10px;
}

.profile-h3 {
  margin-bottom: 30px;
}

.skills-h3 {
  margin-bottom: 30px;
}

.about-btn {
  text-align: center;
  padding: 8%;
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .about-btn {
    flex-direction: column;
  }
}

.hire-btn {
  margin: 5px 15px;
}

.cv-btn { 
  margin: 5px 15px;
}

#portfolio {
  height: 500px;
  text-align: center;
}

#contact {
  height: 500px;
  text-align: center;
}
